{% extends "base.html" %}

{% block content %}
{% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
<h1>Forgot Password</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Reset Instructions</button>
</form>
<a href="{% url 'login' %}">Back to Login</a>
{% endblock %}
